.about-us {
  padding-bottom: 27px;

  @media (min-width: @tablet-width) {
    padding-top: 15px;
    padding-bottom: 42px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 39px;
  }
}

.about-us__title {
  margin: 0;
  margin-bottom: 29px;
  padding: 0 30px;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 15px;
    padding: 0 50px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 14px;
    padding-left: 225px;
    font-size: 53px;
    line-height: 57px;
  }
}

.about-us__list {
  display: grid;
  grid-row-gap: 28px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 17px;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0;
    padding: 0 208px;
    padding-right: 250px;
  }
}

.about-us__item {
  position: relative;
  padding: 0 30px;
  padding-top: 55px;
  font-size: 17px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    padding: 0 20px;
    padding-top: 83px;
    font-size: 20px;
    line-height: 22px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 25px;
    width: 55px;
    height: 38px;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: @tablet-width) {
      top: 26px;
      left: 18px;
    }
  }

  &--flower {
    &::before {
      background-image: url("../../img/icon-1.svg");
    }
  }

  &--ball {
    &::before {
      background-image: url("../../img/icon-2.svg");
    }
  }

  &--money {
    &::before {
      background-image: url("../../img/icon-3.svg");
    }
  }

  &--rocket {
    &::before {
      background-image: url("../../img/icon-4.svg");
    }
  }

  &--heart {
    &::before {
      background-image: url("../../img/icon-5.svg");
    }
  }

  &--gift {
    &::before {
      background-image: url("../../img/icon-6.svg");
    }
  }
}
