.button{
  display: block;
  box-sizing: border-box;
  text-align: center;
  width: 260px;
  padding: 16px 0 16px 0;
  border: 2px solid #444444;
  font-size: 18px;
  line-height: 20px;
  color: @black-2;
  &:hover{
    background: linear-gradient(0deg, #444444, #444444);
    color: @white;
  }
  &:active{
    color: rgba(255, 255, 255, 0.3);
  }
}
