.contacts__title {
  margin: 0;
  margin-top: 8px;
  font-size: 18px;
  line-height: 30px;
}

.contacts__information {
  margin-top: 30px;
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;

  dt {
    width: 75px;
  }

  dd {
    width: 180px;
  }
}

.contacts__value--underlined {
  border-bottom: 1px solid @tiffany;
}

.contacts__button {
  margin-top: 40px;
  margin-bottom: 10px;
}
