.contacts {
  padding: 10px 0;
}

.contacts__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 30px;
}

.contacts__information {
  margin: 0;
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;

  dt {
    width: 75px;
  }

  dd {
    width: 180px;
  }
}

.contacts__map {
  margin-bottom: 40px;
}

.contacts__value {
  &--underlined {
    border-bottom: 1px solid @tiffany;
  }
}
