.main-nav {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  li {
    box-sizing: border-box;
    padding: 27px 10px 27px 30px;
    border: 1px solid @white-3;
  }

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.main-nav__list {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    color: @black;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

   @media (min-width: 768px) {
    display: flex;
  }
}


.main-nav__toggle {
  position: absolute;
  top: -50px;
  right: 7%;
  border: 0;
}

.main-nav__button-svg {
  &--open {
    display: none;
  }
}
