.main-nav {
  position: relative;

  li {
    box-sizing: border-box;
    min-height: 80px;
    padding: 27px 10px 27px 45px;
    border: 1px solid @white-3;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    color: @black;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: 768px) {
    display: flex;
  }
}

.main-nav__toggle {
  position: absolute;
  top: -50px;
  right: -5px;
  border: 0;
}
