.main-nav {
  position: relative;
  li {
    box-sizing: border-box;
    min-height: 80px;
    padding: 27px 30px 27px 75px;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    color: @black;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.main-nav__toggle {
  position: absolute;
  top: -50px;
  right: 25px;
  border: 0;
}
