.main-suggestion {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  padding: 5px 30px 38px 30px;

  background-image: url("../img/zigzag-line.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 6px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    padding: 0 50px;
    padding-bottom: 68px;
    background-size: 100% 17px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 97px;
    background-size: 90% 23px;
  }
}

.main-suggestion__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: @tiffany-2;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 7px;
    right: 63px;
    width: 100px;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    top: 72px;
    right: 0;
    left: 82px;
  }
}

.main-suggestion__name {
  margin: 0;
  margin-bottom: 6px;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    margin-bottom: 39px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 1;
    margin-top: 64px;
    margin-bottom: 12px;
    padding-left: 175px;
    font-size: 53px;
    line-height: 57px;
  }
}

.main-suggestion__text {
  margin: 0;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 175px;
    font-size: 17px;
    line-height: 30px;
  }
}

.main-suggestion__add-info {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto 1fr;
  grid-row-gap: 7px;
  max-width: 300px;
  margin: 0;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    margin-right: 40px;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 80px;
    padding-left: 175px;
  }

  .main-suggestion__description {
    border-bottom: 1px solid @white-3;
  }

  .main-suggestion__value {
    margin: 0;
    padding-left: 30px;
    padding-bottom: 11px;
    border-bottom: 1px solid @white-3;
  }
}

.main-suggestion__img {
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 2;
    justify-self: end;
    width: 335px;
    height: 405px;
    margin-top: 12px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 1;
    width: 525px;
    height: 640px;
    margin-top: 0;
    z-index: -1;
  }
}

.main-suggestion__price {
  margin: 0;
  margin-bottom: 23px;
  font-size: 17px;
  line-height: 24px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 15px;
    padding-left: 72px;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    align-self: center;
    margin-bottom: 0;
    padding-left: 248px;
  }
}

.main-suggestion__button {
  width: 260px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    align-self: end;
    justify-self: start;
    width: 292px;
    margin: 0;
    font-size: 17px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 175px;
  }
}
