.main-suggestion {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  padding: 30px 30px 43px;
  background-image: url("../img/zigzag-line.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 6px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 292px 249px 127px 1fr;
    grid-template-rows: auto auto auto auto auto;
    padding: 40px 0 61px;
    background-size: 100% 17px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 175px 292px 583px 1fr;
    padding: 52px 0 93px;
    background-size: 1050px 23px;
  }
}

.main-suggestion__title {
  margin: 0;
  margin-bottom: 17px;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: @tiffany-2;

  @media (min-width: @tablet-width) {
    grid-column-start: 4;
    grid-column-end: 5;
    padding-top: 6px;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
    padding: 70px 30px 0;
  }
}

.main-suggestion__name {
  margin: 0;
  margin-bottom: 5px;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: 4;
    margin-bottom: 39px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    margin: 61px 0 12px;
    font-size: 53px;
    line-height: 57px;
  }
}

.main-suggestion__text {
  margin: 0;
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-bottom: 35px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 3;
    grid-column-end: 4;
  }
}

.main-suggestion__add-info {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto 1fr;
  grid-row-gap: 7px;
  max-width: 300px;
  margin: 0 0 29px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0 40px 50px 0;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 3;
    grid-column-end: 4;
    margin-bottom: 80px;
  }

  .main-suggestion__description {
    border-bottom: 1px solid @white-3;
  }

  dd {
    width: 200px;
    margin-top: 3px;
    padding-bottom: 12px;
    border-bottom: 1px solid @white-3;
  }
}

.main-suggestion__img-wrapper {
  margin-bottom: 20px;
  justify-self: center;

  @media (min-width: @tablet-width) {
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 3;
    grid-column-end: 5;
    justify-self: end;
    margin: 12px 0 0;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 1;
    grid-column-start: 4;
    grid-column-end: 5;
    margin-top: 0;
    z-index: -1;
  }
}

.main-suggestion__img {
  margin-bottom: 27px;
}

.main-suggestion__price {
  margin: 0;
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 24px;
  text-align: center;

  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-bottom: 18px;
    padding-left: 72px;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 3;
    grid-column-end: 4;
    align-self: center;
    margin-bottom: 0;
  }
}

.main-suggestion__button {
  width: 260px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: start;
    justify-self: start;
    width: 292px;
    margin: 0;
    font-size: 17px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 3;
    grid-column-end: 4;
    align-self: end;
  }
}
