.order-form {
  padding-bottom: 55px;

  @media (min-width: @tablet-width) {
    position: relative;
    padding-bottom: 51px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 46px;
  }
}

.order-form__main-title {
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 100px;
  }
}

.order-form__text-top {
  margin-bottom: 29px;
  padding: 0 30px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 13px;
    padding: 0 50px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 225px;
  }
}

.order-form__fieldset {
  margin: 0 30px;
  padding: 0;
  font-size: 17px;
  line-height: 18px;
  border: 0;
  border-top: 1px solid @tiffany;

  @media (min-width: @tablet-width) {
    position: relative;
    margin: 0;
    padding: 50px;
    padding-left: 220px;
    font-size: 19px;
    border: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 50px 225px;
  }

  &--type {
    @media (max-width: @mobile-only) {
      padding-bottom: 32px;
    }

    .order-form__type-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 11px;

      @media (min-width: @tablet-width) {
        grid-row-gap: 27px;
      }
    }
  }

  &--color {
    @media (max-width: @mobile-only) {
      padding-bottom: 34px;
    }

    @media (min-width: @tablet-width) {
      background-color: @white-2;
    }

    @media (min-width: @desktop-width) {
      padding-right: 138px;
    }

    .order-form__color-wrapper {
      display: grid;
      grid-row-gap: 23px;

      @media (min-width: @tablet-width) {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 21px;
        grid-row-gap: 27px;
      }

      @media (min-width: @desktop-width) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 0;
      }
    }
  }

  &--name {
    @media (max-width: @mobile-only) {
      padding-bottom: 34px;
    }

    .order-form__name-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 23px;

      @media (min-width: @tablet-width) {
        grid-row-gap: 24px;
      }
    }
  }

  .order-form__contacts-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;

    .order-form__svg {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 4px;
      margin: auto;
      opacity: 0.2;

      @media (min-width: @tablet-width) {
        right: 24px;
      }

      @media (min-width: @desktop-width) {
        right: 7px;
      }
    }

    .order-form__input:hover + .order-form__svg {
      opacity: 1;
      fill: @tiffany;
    }
  }

  &--tel {
    padding-bottom: 36px;

    @media (min-width: @tablet-width) {
      padding-bottom: 9px;
      background-color: @white-2;
    }
  }

  &--email {
    @media (max-width: @mobile-only) {
      padding-bottom: 35px;
    }

    @media (min-width: @tablet-width) {
      padding-top: 15px;
      background-color: @white-2;
    }
  }

  &--add {
    @media (max-width: @mobile-only) {
      padding-bottom: 14px;
    }
  }
}

.order-form__title {
  display: block;
  padding-right: 20px;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: @tiffany-2;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 65px;
    left: 50px;
  }

  @media (min-width: @desktop-width) {
    left: 110px;
  }

  &--type {
    margin-bottom: 34px;
  }

  &--color {
    margin-bottom: 25px;
  }

  &--name {
    margin-bottom: 28px;
  }

  &--tel {
    margin-bottom: 2px;
  }

  &--email {
    margin-bottom: 1px;

    @media (min-width: @tablet-width) {
      top: 32px;
    }
  }


  &--add {
    margin-bottom: 22px;
  }
}

.order-form__label {
  padding: 0;

  &--type-radio {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-column-gap: 20px;

    @media (min-width: @tablet-width) {
      grid-column-gap: 27px;
    }
  }

  &--color-checkbox {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-column-gap: 23px;

    @media (min-width: @tablet-width) {
      grid-column-gap: 29px;
    }
  }

  &--name {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: @tablet-width) {
      grid-template-columns: auto 1fr;
      align-items: center;
      grid-column-gap: 22px;
    }
  }

  &--add {
    width: 100%;
  }
}


.order-form__input {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    font-size: 19px;
  }

  &--type-radio + .order-form__label--type-radio {
    &::before {
      content: "";
      display: inline-block;
      box-sizing: border-box;
      width: 40px;
      height: 40px;
      border: 2px solid @black;
      border-radius: 50%;

      @media (min-width: @tablet-width) {
        width: 50px;
        height: 50px;
      }
    }

    &:hover {
      &::before {
        border: 2px solid @tiffany;
      }
    }

    &:active {
      &::before {
        border: 2px solid rgba(@black, 0.3);
      }
    }
  }

  &--type-radio:checked + .order-form__label--type-radio::before {
    background-image: url("../img/center.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px 18px;

    @media (min-width: @tablet-width) {
      background-size: 22px 22px;
    }
  }

  &--color-checkbox + .order-form__label--color-checkbox {
    &::before {
      content: "";
      display: inline-block;
      box-sizing: border-box;
      width: 38px;
      height: 38px;
      border: 2px solid @black;

      @media (min-width: @tablet-width) {
        width: 50px;
        height: 50px;
      }
    }

    &:hover {
      &::before {
        border: 2px solid @tiffany;
      }
    }

    &:active {
      &::before {
        border: 2px solid rgba(@black, 0.3);
      }
    }
  }

  &--color-checkbox:checked + .order-form__label--color-checkbox::before {
    background-image: url("../img/tick.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 23px 16px;

    @media (min-width: @tablet-width) {
      background-size: 31px 22px;
    }
  }

  &--text {
    padding: 17px 10px 16px 0;
    border: 0;
    box-shadow: inset 0 -2px 0 -1px @black;
    color: @black-2;

    @media (min-width: @tablet-width) {
      padding: 13px 10px 13px 17px;
    }

    &:hover {
      box-shadow: inset 0 -2px 0 @tiffany;
    }

    &:focus {
      outline: 0;
      box-shadow: inset 0 -2px 0 @tiffany;
    }

    &::placeholder {
      color: @black;
      opacity: 0.3;
    }
  }

  &--tel {
    @media (max-width: @mobile-only) {
      padding-bottom: 19px;
      padding-right: 45px;
    }

    @media (min-width: @tablet-width) {
      padding: 11px 70px 15px 15px;
      background-color: @white-2;
    }
  }

  &--email {
    @media (max-width: @mobile-only) {
      padding-bottom: 19px;
      padding-right: 45px;
    }

    @media (min-width: @tablet-width) {
      padding: 11px 70px 15px 15px;
      background-color: @white-2;
    }
  }
}

.order-form__textarea {
  box-sizing: border-box;
  width: 100%;
  height: 142px;
  padding: 17px;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid @black-2;
  border-bottom: 0;
  box-shadow: inset 0 -2px 0 @black;
  color: @black-2;
  resize: none;

  @media (min-width: @tablet-width) {
    font-size: 19px;
  }


  &:hover {
    border: 2px solid @tiffany;
    box-shadow: inset 0 -2px @tiffany;
  }

  &:focus {
    outline: 0;
    border: 2px solid @tiffany;
    box-shadow: inset 0 -2px @tiffany;
  }

  &::placeholder {
    color: @black;
    opacity: 0.3;
  }
}

.order-form__text-bottom {
  margin: 0;
  margin-bottom: 30px;
  padding: 0 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    position: absolute;
    bottom: 30px;
    right: 20px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 175px;
  }
}

.order-form__button {
  width: 260px;
  margin: 0 auto;
  font-size: 17px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    width: 230px;
    margin: 0;
    margin-left: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 225px;
  }
}
