.page-main {
  display: grid;
  grid-gap: 30px;

  @media (min-width: @tablet-width) {
    grid-gap: 40px;
  }

  @media (min-width: @desktop-width) {
    grid-gap: 50px;
  }
}

.page-main__title {
  margin: 0;
  padding: 0 30px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;


  @media (min-width: @tablet-width) {
    padding: 0 50px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }

  &--index {
    padding-top: 70px;
    padding-bottom: 121px;
    background-image: url("../../img/hero.jpg");
    background-repeat: no-repeat;
    background-position: center -17px;
    background-size: 575px;

    @media (min-width: @tablet-width) {
      padding-top: 90px;
      padding-bottom: 370px;
      background-position: center -65px;
      background-size: 1150px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 92px;
      padding-bottom: 356px;
      background-position: center -60px;
      background-size: initial;
    }
  }

  &--form {
    padding-bottom: 75px;
    background-color: @white-2;

    @media (min-width: @tablet-width) {
      padding-top: 36px;
      padding-bottom: 85px;
      background-image: url("../../img/zigzag-fill.svg");
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: 100% 24px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 40px;
      padding-bottom: 115px;
      background-size: 100% 34px;
    }
  }

  &--catalog {
    padding-bottom: 103px;
  }
}
