.page-footer__social {
  margin: 0;
  padding: 25px 60px;
  background-color: @white-2;
  list-style: none;
}

.page-footer__copyright {
  display: block;
  padding: 30px 90px 30px 40px;
  font-size: 19px;
  line-height: 18px;
  background-color: @white-2;
}
