.page-main {
  display: grid;
  grid-gap: 30px;

  @media (min-width: @tablet-width) {
    grid-gap: 40px;

    &--catalog {
      grid-gap: 53px;
    }
  }

  @media (min-width: @desktop-width) {
    grid-gap: 50px;

    &--catalog {
      grid-gap: 57px;
    }
  }
}
