.page-header {
  display: grid;
  grid-template-rows: 1fr 17px auto;
  grid-template-columns: 1fr;

  @media (min-width: @tablet-width) {
    grid-template-rows: 1fr 66px auto;
  }

  .page-header__top-menu {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: -1;
    z-index: 1;
  }

  .page-header__hero-block {
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: -1;
  }
}
