.page-header {
  padding-top: 22px;
}

.page-header__logo {
  width: 85px;
  margin: 0 auto 15px auto;
}

.page-header__text {
  display: none;
  margin: 0;
  padding: 20px 50px;
  font-size: 15px;
  font-weight: 400;
}
