.page-main {
  display: grid;
  grid-gap: 30px;
  margin-bottom: 40px;
}

.page-main__title {
  box-sizing: border-box;
  min-height: 280px;
  margin: 0;
  padding-top: 70px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background-color: @white-4;
}

.page-main__title--index {
  background-image: url("../../img/hero-mobile.png");
  background-repeat: no-repeat;
  background-position: center -20px;
}
