.production-process__title {
  margin: 20px 15px 25px 90px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.production-process__text {
  padding: 35px 34px 40px 34px;
  font-size: 13px;
  font-weight: 400;
}

.production-process__button {
  margin-bottom: 33px;
}
