.product-type {
  @media (min-width: @tablet-width) {
    background-color: @white-6;
  }
}

.product-type__list {
  position: relative;
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    padding: 0 50px;
    max-width: 910px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1240px;
  }

  &::after {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      bottom: -1px;
      width: 100%;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center bottom;
      background-image: url("../../img/zigzag-fill.svg");
      background-size: auto 24px;
      z-index: 1;
    }

    @media (min-width: @desktop-width) {
      background-size: auto 34px;
    }
  }
}

.product-type__item {
  flex-grow: 1;
  min-width: 50%;
}

.product-type__link {
  position: relative;
  box-sizing: border-box;
  display: block;
  padding: 24px 100px 31px 30px;
  font-size: 19px;
  line-height: 24px;
  color: @white;

  @media (min-width: @tablet-width) {
    padding: 26px 100px 44px 36px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 26px 100px 48px 37px;
    font-size: 20px;
    line-height: 31px;
  }


  &::before {
    position: absolute;
    top: 25px;
    right: 30px;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;

    @media (min-width: @tablet-width) {
      top: 35px;
      right: 30px;
    }

    @media (min-width: @desktop-width) {
      top: 35px;
      right: 33px;
    }
  }

  &:hover {
    &::before {
      opacity: 0.7;
    }
  }

  &:active {
    &::before {
      opacity: 0.3;
    }
  }

  &--toys {
    background-color: @tiffany-3;

    &::before {
      content: "";
      background-image: url("../../img/toy.svg");
    }

    &:hover {
      background-color: @tiffany-5;
    }

    &:active {
      background-color: @tiffany-5;
    }
  }

  &--interior {

    background-color: @tiffany-2;

    &::before {
      content: "";
      background-image: url("../../img/interior.svg");
    }

    &:hover {
      background-color: @tiffany-4;
    }

    &:active {
      background-color: @tiffany-4;
    }
  }
}
