.product-type__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-type__link {
  position: relative;
  display: block;
  box-sizing: border-box;
  min-height: 103px;
  padding: 24px 100px 30px 30px;
  font-size: 19px;
  line-height: 24px;
  color: @white;

  &::before {
    position: absolute;
    top: 23px;
    right: 25px;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.product-type__link--toys {
  background-color: @tiffany-3;

  &::before {
    content: "";
    background-image: url("../../img/toy.svg")
  }
}

.product-type__link--interior {
  background-color: @tiffany-2;

  &::before {
    content: "";
    background-image: url("../../img/interior.svg")
  }
}
