.products__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.products__title {
  display: block;
  margin: 27px 0 5px 0;
  color: @black;
}

.products__description {
  margin: 0;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: @black-2;
}

.products__price {
  margin: 41px 0 26px 0;
  font-size: 15px;
}
