.reviews {
  padding-bottom: 45px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 7px;
  font-size: 25px;
  line-height: 30px;
}

.reviews__list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.slider__item {
  display: none;

  &--current {
    display: block;
  }
}

.reviews__text {
  margin: 0;
  margin-bottom: 35px;
  padding-right: 5px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

.reviews__author {
  font-style: normal;
}

.reviews__nickname {
  display: block;
  padding-top: 4px;
  font-weight: 400;
  line-height: 30px;
}

.reviews__controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 35px;
  padding: 13px 0;
}

.reviews__control-button {
  width: 50px;
  height: 26px;
  border: 0;
  background-repeat: no-repeat;
  background-position: center;

  &--back {
    background-image: url("../../img/huge-arrow-left.svg");
  }

  &--forward {
    background-image: url("../../img/huge-arrow-right.svg");
  }
}
