.user-list {
 @media (min-width: 768px) {
    flex-grow: 1;
    display: flex;
    padding-left: 48%;
    border-bottom: 1px solid @black-3;
  }

  .user-list__item {

    @media (min-width: 768px) {
      padding: 31px;
      border-left: 1px solid @black-3;
    }

    &--search {

    }

    &--cart {
      @media (min-width: 768px) {
        flex-grow: 1;
        padding-right: 50px;
      }
    }
  }
}

.user-list__svg {

  &--cart {
    margin-right: 20px;

    @media (min-width: 768px) {
      margin-right: 27px;
    }
  }
}

.user-list__search-text {
  margin-left: 22px;

  @media (min-width: 768px){
    display: none;
  }
}
