@black: #000000;
@black-2: #444444;
@white: #ffffff;
@white-2: #F1F1F1;
@white-3: #ECECEC;
@white-3: rgba(255, 255, 255, 0.3);
@white-4: #F1F1F1;
@grey: #444444;
@tiffany: #62D1BA;
@tiffany-2: #63d1bb;
@tiffany-3: #56c3b2;
