.product-type{
  &__wrapper{
    width: 320px;
    margin: 0 auto;
  }
  &__list{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__link{
    display: block;
    box-sizing: border-box;
    width: 100%;
    font-size: 19px;
    line-height: 24px;
    color: @white;
    padding: 24px 160px 30px 30px;
    &--interior{
      background-color: #63D1BB;
    }
    &--toys{
      background-color: #56C3B2;
    }
  }
}
